@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=EB+Garamond:wght@700&family=IBM+Plex+Sans:wght@100&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}
#SidePanel{
  color: #B2B2B2;
  background-color: black;
  position: absolute;
  width: 190px;
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.SideTop{
display: flex;
flex-direction: column;
}

.NavBar{
  display: flex;
  flex-direction: column;
  height: 265px;
  justify-content: space-between;
}

.NavElement{
  display: flex;
  margin-bottom: 19px;
}

.NavElement span{
  font-size: 13px;
  margin: 6px 0px 0px 15px;
  font-weight: bold;
}

.DropdownMenu span{
 font-size: 18px;
 margin: 0;
}

.Border{
  width: 180px;
  height: 1px;
  background-color: #B2B2B2;
}

.UserPlaylist{
  display: flex;
  flex-direction: column;
}

.UserPlaylist span{
  font-size: 13px;
  font-weight: 600;
  margin-top: 16px;
}


#FriendActivity{
  color: #B2B2B2;
  background-color: #121212;
  position: absolute;
  right: 0;
  height: 100vh;
  width: 320px;
}

.FriendHeader{
  margin: 30px 10px;
  display: flex;
  justify-content: space-between;
}

.FriendHeader span{
  font-size: 14px;
  margin: 6px 0px 0px 15px;
  font-weight: bold;
}

.FriendContainer{
  display: flex;
  margin: 0px 30px 30px;
}

.FriendContainer img{
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin: auto;
}

.FriendInfo{
  width: 70%;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.Friend{
  display: flex;
  justify-content: space-between;
}

.FriendName{
  max-width: 140px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.SongContainer{
  display: flex;
  align-items: center;
}

.MusicEllipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}